<%- errorMessagesFor(test) %>
<%
 console.log(test);
%>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("first_name", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_info.first_name" name="Test[info][first_name]" value="" type="text" />

   </div>
</div>
<div class="control-group">
   <%- form.label("last_name", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_info.last_name" name="Test[info][last_name]" value="" type="text" />
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
        <input id="Test_info.phone" name="Test[info][phone]" value="" type="text" >

   </div>
</div>
<div class="control-group">
   <%- form.label("e_mail", false, {class: "control-label"}) %>
   <div class="controls">
       <input id="Test_info.e_mail" name="Test[info][e_mail]" value="" type="text" />
   </div>
</div>
<div class="control-group">
   <%- form.label("contacts", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_count.contacts" name="Test[count][contacts]" value="" type="text" />

   </div>
</div>
<div class="control-group">
   <%- form.label("prospects", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_count.prospects" name="Test[count][prospects]" value="" type="text" />

   </div>
</div>
<div class="control-group">
   <%- form.label("closings", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_count.closings" name="Test[count][closings]" value="" type="text" />

   </div>
</div>
<div class="control-group">
   <%- form.label("listings", false, {class: "control-label"}) %>
   <div class="controls">
              <input id="Test_count.listings" name="Test[count][listings]" value="" type="text" />

   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
<div class="control-group">

   <%- form.label("active", false, {class: "control-label"}) %>

   <div class="controls">

       <%- form.checkbox("active") %>

   </div>

</div>
