<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.tests() %>">tests</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New test</a></li>
</ul>

<div class="page-header">
    <h1>New test</h1>
</div>

<% var form = formFor(test, {action: pathTo.tests(), method: 'POST', id: "test-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form2 %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create test', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.tests(), {class: 'btn'}) %>
</div>
<%- form.end() %>
